.service-tabs {
  color: #fff;
  background: #4dd0e1;
}

.service-tabs h2 {
  text-align: center;
  padding: 25px;
}
.service-tabs .tabs-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 25px;
  margin: 0 200px;
  padding-bottom: 25px;
}
.service-tabs .tabs-flex .tab {
  margin: 5px;
  padding: 0 10px;
  border-radius: 5px;
  color: #333;
  background: #fff;
}
.service-tabs .tabs-flex .tab1 {
  margin: 5px;
  padding: 0 10px;
  border-radius: 5px;
  color: #4dd0e1;
  background: #fff;
}
.service-tabs .tabs-flex p {
  padding: 5px;
  margin: 8px 10px;
}
