.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 400px;
}

.section-item {
  flex-grow: 1;
  flex-basis: 0;
  width: 500px;
  height: 100%;
  margin: 25px 0;
}

.section-item img {
  height: 70%;
  width: 70%;
  padding-left: 35px;
  margin-left: 35px;
}

.section-item .content2 {
  margin-left: 50px;
  margin-right: 150px;
  padding-bottom: 25px;
  line-height: 1.5;
}
